<!DOCTYPE html>
    <lang=<sv>
        <head>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
            <h1>Om bastun på Åg</h1>
            <p>Byggnationen av bastun på Åg påbörjades hösten 2024 och färdigställdes under våren 2025.</p>
            <p>Bastun är ett efterlängtat tillskott och används numera frekvent av de boende på bruket 
                men är även tillgänglig för alla som önskar ta sig ett bad omgivet av skön natur och ståtliga industriminnen.</p>
        </head>
        <a href="/" class="btn btn-primary">Tillbaka till startsida</a>
    </html>
