<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>boka</title>
</head>
<body>
    <h1>Boka</h1>
    <form action="/book" method="post">
        Ange det datum du önskar boka: <input type="date" name="date" required>
        Ange den tid du önskar boka: <input type="time" name="time" required>
        Ange e-post för bokningen: <input type="email" name="email" required>
        <button type="submit">Boka</button>
    </form>
    <img src="{{ url_for('static', filename='fiske.jpg') }}" alt="Hyttan på Åg" style="width: 400px; height: 300px;">
</body>
</html>